
    <form action="/book" method="post" id="form1">
            <div class="form-group">
                  <label for="email">اختار العيادة</label>
                  <select name="clinic" class="form-control" >
                      <option value=" Dental_clinic">عيادة الاسنان</option >
                      <option value="Surgery_Clinic">عيادة الجراحه العامه</option>
                      <option value="heart_clinic">عياده الباطنه والقلب</option>
                      <option value="Orthopedic_Clinic">عياده العظام</option>
                      <option value="Gastroenterology_Clinic">عياده الجهاز الهضمي</option>
                     <option value="brain_Clinic">عيادة المخ والاعصاب  </option>


                    </select>

              </div>
              <div class="form-group">
                  <label for="name">اسم المريض </label>
                  <input type="text" name="patient" class="form-control ">

              </div>
              <div class="form-group">
                  <label for="password">حاله المريض</label>
                  <input type="text"  name="statue" class="form-control" >

              </div>
              <div class="form-group">
                  <label for="password">الاعراض </label>
                  <input type="text" id="password" name="Symptoms" class="form-control" >

              </div>
              <button type="submit" class="btn btn-primary">احجز الان</button>
        </form>
        
        


